[Unit]
Description=Web Joystick Service

[Service]
WorkingDirectory=/home/abr3/web_joystick
ExecStart=/usr/bin/python2.7 ./web_joystick.py
User=abr3

[Install]
WantedBy=multi-user.target